<!DOCTYPE html>
	<html>
		<?php header('Content-type: text/plain; charset=utf-8'); ?>
		<body>
			<h1>Puppetilla tehty Apachen ja PHP:n asennus!</h1>
			<?php
			echo "PHP -testi!";
			?>
		</body>
	</html>'
